.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: light;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: black;
}

body {
    height: 100vh;
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4rem;
    font-style: 900;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    word-spacing: 12px;
}

p {
    font-size: 1.5rem;
    font-style: 300;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}